{{ $currentLang := $.Site.Language.Lang }}
<nav>
  <ul class="first">
    <li>
      <a href="{{ .Site.BaseURL | relLangURL }}">{{ i18n "home" }}</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href={{ "about/" | absLangURL }}>{{ i18n "about" }}</a>
      <ul>
        <li>
          <a href={{ "projects/newbies/" | absLangURL }}>{{ i18n "introduction" }}</a>
        </li>
        <li>
          <a href={{ "features/" | absLangURL }}>{{ i18n "features" }}</a>
        </li>
        <li>
          <a href={{ "advocacy/" | absLangURL }}>{{ i18n "advocacy" }}</a>
        </li>
        <li>
          <a href={{ "marketing/" | absLangURL }}>{{ i18n "marketing" }}</a>
        </li>
        <li>
          <a href={{ "privacy/" | absLangURL }}>{{ i18n "privacyPolicy" }}</a>
        </li>
        <li>
          <a href={{ "projects/" | absLangURL }}>{{ i18n "projects" }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <a href={{ "where/" | absLangURL }}>{{ i18n "getFreeBSD" }}</a>
      <ul>
        <li>
          <a href={{ "releases/" | absLangURL }}>{{ i18n "releaseInformation" }}</a>
        </li>
        <li>
          <a href={{ "releng/" | absLangURL }}>{{ i18n "releaseEngineering" }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/" }}>{{ i18n "documentation" }}</a>
      <ul>
        <li>
          <a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/faq/" }}>{{ i18n "faq" }}</a>
        </li>
        <li>
          <a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/handbook/" }}>{{ i18n "handbook" }}</a>
        </li>
        <li>
          <a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/porters-handbook/" }}>{{ i18n "porterHandbook" }}</a>
        </li>
        <li>
          <a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/developers-handbook/" }}>{{ i18n "developerHandbook" }}</a>
        </li>
        <li>
          <a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/articles/committers-guide" }}>{{ i18n "committersGuide" }}</a>
        </li>
        <li>
          <a href="https://www.FreeBSD.org/cgi/man.cgi">{{ i18n "manualPages" }}</a>
        </li>
        <li>
          <a href="https://papers.freebsd.org/">{{ i18n "papers" }}</a>
        </li>
        <li>
          <a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/fdp-primer/" }}>{{ i18n "documentationProjectPrimer" }}</a>
        </li>
        <li>
          <a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/" }}>{{ i18n "allBooksArticles" }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <a href={{ "community/" | absLangURL }}>{{ i18n "community" }}</a>
      <ul>
        <li>
          <a href={{ "community/mailinglists/" | absLangURL }}>{{ i18n "mailingLists" }}</a>
        </li>
        <li>
          <a href="https://forums.FreeBSD.org">{{ i18n "forums" }}</a>
        </li>
        <li>
          <a href={{ "usergroups/" | absLangURL }}>{{ i18n "userGroups" }}</a>
        </li>
        <li>
          <a href={{ "events/" | absLangURL }}>{{ i18n "events" }}</a>
        </li>
        <li>
          <a href="http://freebsdjournal.com">{{ i18n "FreeBSDJournal" }}</a>
        </li>
        <li>
          <a href="http://serverfault.com/questions/tagged/freebsd">{{ i18n "QA" }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <a href={{ "projects/" | absLangURL }}>{{ i18n "developers" }}</a>
      <ul>
        <li>
          <a href="https://wiki.FreeBSD.org/IdeasPage">{{ i18n "projectIdeas" }}</a>
        </li>
        <li>
          <a href="https://cgit.FreeBSD.org">{{ i18n "gitRepository" }}</a>
        </li>
        <li>
          <a href="https://svnweb.FreeBSD.org">{{ i18n "subversionRepository" }}</a>
        </li>
        <li>
          <a href="https://github.com/freebsd">{{ i18n "gitMirror" }}</a>
        </li>
        <li>
          <a href="https://reviews.FreeBSD.org">{{ i18n "phabricator" }}</a>
        </li>
        <li>
          <a href="https://wiki.FreeBSD.org">{{ i18n "wiki" }}</a>
        </li>
        <li>
          <a href="https://ci.FreeBSD.org">{{ i18n "CI" }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <a href={{ "support/" | absLangURL }}>{{ i18n "support" }}</a>
      <ul>
        <li>
          <a href={{ "commercial/" | absLangURL }}>{{ i18n "vendors" }}</a>
        </li>
        <li>
          <a href={{ "security/" | absLangURL }}>{{ i18n "securityInformation" }}</a>
        </li>
        <li>
          <a href="https://bugs.FreeBSD.org/search/">{{ i18n "bugReports" }}</a>
        </li>
        <li>
          <a href={{ "support/" | absLangURL }}>{{ i18n "submittingBugReports" }}</a>
        </li>
        <li>
          <a href={{ "support/webresources/" | absLangURL }}>{{ i18n "webresources" }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <a href="https://www.freebsdfoundation.org/">{{ i18n "foundation" }}</a>
      <ul>
        <li>
          <a href="https://www.freebsdfoundation.org/donate/">{{ i18n "monetaryDonations" }}</a>
        </li>
        <li>
          <a href={{ "donations/#systems/" | absLangURL }}>{{ i18n "hardwareDonations" }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
